<b><font size="6" color="red">ch03. 데이터구조</font></b>
- 리스트.[.], 튜플(), 딕셔너리(hashmap과 유사), 셋(집합)

# 1절. 리스트

## 1.1 리스트 만들기
- .[.].를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있다. list()함수 이용도 가능
- 인덱스: 각요소의 위치. 인덱스 0부터 시작, 맨 마지막 인덱스 -1
- 슬라이싱(.[from:to:by]) : 부분 데이터 셋을 뽑아 내는 것. 인덱스를 이용해 쓰기와 읽기도 지원

In [1]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [3]:
print(fruits[0])

banana

In [4]:
# range(from, to, by): from부터 to바로 앞까지 by 씩 증가하면서 만들어진 리스트
      # from 생략 0, by 생략시 1
range(6)

range(0, 6)

In [5]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [7]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [10]:
for i in [1,2,3,4]:
    print(i, end='\t')

1	2	3	4

In [11]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

In [14]:
for i in list(range(len(fruits))):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape

In [16]:
numbers = [1,2,'3',[1,2]]
numbers

[1, 2, '3', [1, 2]]

In [20]:
# 2차원리스트
numbers_2d = [[1,2,3,4,5],
              [10,20,30,40,50],
              [1,3,5,7,9]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9]]

In [21]:
len(numbers_2d), len(numbers_2d[0])

(3, 5)

In [23]:
numbers_2d[1][2]

30

In [25]:
for row in numbers_2d:
    for data in row:
        print(data, end='\t')
    print() #개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9

In [26]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열:{}".format(i, j, numbers_2d[i][j]), end='\t')
    print() #개행

0행0열:1	0행1열:2	0행2열:3	0행3열:4	0행4열:5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열:1	2행1열:3	2행2열:5	2행3열:7	2행4열:9

## 1.2 기본 정보 조회

In [27]:
numbers = [1,2,3,4,5]
numbers_2d = [[100,0,0,0,0],
              [90,90,90,90,90]]

In [29]:
#요소의 수
print(len(numbers))
print(len(numbers_2d))

5
2

In [30]:
#최소값min, 최대값max
min(numbers), max(numbers)

(1, 5)

In [31]:
# 2차원 리스트의 max()함수는 부분리스트 중 첫요소가 가장 큰 값
#                min()함수는 부분 리스트 중 첫요소가 가장 작은 값
min(numbers_2d), max(numbers_2d)

([90, 90, 90, 90, 90], [100, 0, 0, 0, 0])

## 1.3 요소 추가

In [32]:
# + 두 리스트 연결
# * 리스트 * n 리스트를 곱한 수만큼 반복
# append() 요소 맨 뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스에 값 추가

In [33]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [34]:
numbers = [1,2,3]
print(numbers*3)
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [35]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [37]:
num = [5,6,7]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7]]

In [39]:
numbers.extend(num)
numbers

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7], 5, 6, 7, 5, 6, 7]

In [40]:
numbers.extend('Hello')

In [41]:
numbers

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7], 5, 6, 7, 5, 6, 7, 'H', 'e', 'l', 'l', 'o']

In [42]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

In [43]:
- [index] : 인덱스를 이용한 접근
- index() : 해당 요소의 위치 반환
- count() : 리스트에서 데이터의 갯수 반환

SyntaxError: invalid syntax (<ipython-input-43-25dc5ccb57ac>, line 1)

In [44]:
numbers = [1,2,3, [1,2,3], 1,2,3]
numbers_2d = [[1,2,3],[1,2,3]]

In [45]:
numbers.count(2) # 2가 몇개인지

2

In [47]:
numbers_2d.count(2)
numbers_2d.count([1,2,3])

2

In [48]:
numbers.count(9)

0

In [49]:
2 in numbers #2가 numbers 요소에 있는지 여부

True

In [50]:
numbers.index(2)    # 처음(0인덱스부터) 나오는 2의 인덱스

1

In [52]:
numbers.index(2,3)  #3번 인덱스부터 나오는 2의 인덱스

5

In [53]:
print(numbers.count(9),'개')
print(numbers.index(9))   #index함수는 없는 값을 쓰면 에러

0 개

ValueError: 9 is not in list

In [54]:
numbers[20]  #인덱스의 범위를 벗어나면 에러남

IndexError: list index out of range

## 1.5 원하는 리스트 내용만 추출 ; 리스트 슬라이싱
- 인덱스보다 많은 값을 써도 에러나지 않음
- .[from:to:by]. : from부터 to 바로 앞까지 증가하는 index 추출
- 인덱스는 음수 가능

In [55]:
numbers = [1,3,5,7,9]
numbers[::-1]

[9, 7, 5, 3, 1]

## 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 엑세스

In [57]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터를 다 가져오기
# for data in numbers:
#     print(data, end = '\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [58]:
# 짝수 데이터만 가져오기
# for data in numbers:
#     if data%2==0:
#         print(data, end = '\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [60]:
# 10 이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [65]:
# 과일의 글씨가 5글자 이상인 과일 추출하세요
fruits = ['orange', 'apple', 'mange', 'kiwi']
[x for x in fruits if len(x)>=5]

for x in fruits:
    if len(x)>=5:
        print(x)

orange
apple
mange

In [66]:
# 과일의 글자수를 추출하세요
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [67]:
# 리스트 값의 제곱을 추출하여라
L = [1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [69]:
# 리스트 값의 2배를 추출하여라
[i*2 for i in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [1]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 2222
numbers

[0, 1, 2222, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# 부분리스트를 통째로 바꾸고 싶을때(by 없이 슬라이싱일 경우)
numbers[0:2] =[1111,1111,1111,1111,1111,1111,1111]
numbers

[1111, 1111, 1111, 1111, 1111, 1111, 1111, 2222, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# 슬라이싱에서 by가 포함된 경우 바꾸려는 값의 수가 맞아야한다.
numbers = [0]*10
print("수정 전 :", numbers)
numbers[::2] = [11,11,11,11,11]# 0,2,4,6,8
print("수정 후 :",numbers)

수정 전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후 : [11, 0, 11, 0, 11, 0, 11, 0, 11, 0]

## 1.7 삭제하기
- pop() : 가장 마지막 인덱스가 요소가 반환되고 삭제
- pop(n) : n번째 idx요소가 반환되고 삭제
- remove(data) : 해당 data가 삭제
- del 리스트 변수.[n]. : n번째 index 요소가 삭제

In [79]:
numbers = [0,1,2,3,4,5]
print(numbers)
print(numbers.pop(1))
print(numbers)

[0, 1, 2, 3, 4, 5]
1
[0, 2, 3, 4, 5]

In [80]:
print(numbers.remove(3)) # remove()는 반환값이 없음
print(numbers)

None
[0, 2, 4, 5]

In [81]:
numbers.remove(9) # 없는거 없애면 오류

ValueError: list.remove(x): x not in list

In [82]:
del numbers[1]
numbers

[0, 4, 5]

In [83]:
del numbers

In [84]:
numbers

NameError: name 'numbers' is not defined

## 1.8 정렬하기

In [89]:
numbers = [9,5,2,6,10]
numbers.sort()  #numbers 자체가 정렬한 결과로 바뀜. 기본정렬은 오름차순
numbers

[2, 5, 6, 9, 10]

In [90]:
numbers = numbers[::-1]  #오름차순 결과를 내림차순으로 변경
numbers

[10, 9, 6, 5, 2]

In [91]:
numbers.sort(reverse=True)  #내림차순 정렬. 리스트 내용에 적용
numbers

[10, 9, 6, 5, 2]

In [93]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[2, 5, 6, 9, 10]

In [94]:
numbers = numbers[::-1]  # 리스트를 역순으로 변경
numbers

[10, 9, 6, 5, 2]

## 1.9 리스트 복제

In [99]:
numbers = [6,2,7,4,10]
new_numbers = numbers    #numbers의 주소가 new_numbers로 전달된다.
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬한 데이터 :', numbers)
print('new_numbers 주소 :', id(new_numbers))
print('numbers 주소 :', id(numbers))

정렬전 데이터 : [2, 4, 6, 7, 10]
정렬한 데이터 : [2, 4, 6, 7, 10]
new_numbers 주소 : 1469605499712
numbers 주소 : 1469605499712

In [101]:
#복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy()    #numbers를 복제
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬한 데이터 :', numbers)
print('new_numbers 주소 :', id(new_numbers))
print('numbers 주소 :', id(numbers))

정렬전 데이터 : [6, 2, 7, 4, 10]
정렬한 데이터 : [2, 4, 6, 7, 10]
new_numbers 주소 : 1469605626176
numbers 주소 : 1469605627776

In [105]:
city = ['서울','부산','대구','인천']
temp = city.copy()
city.sort()
print('원데이터 :', ' '.join(temp))
print('정렬후 :', ' '.join(city))

원데이터 : 서울 부산 대구 인천
정렬후 : 대구 부산 서울 인천

# 2절 튜플
- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터타입에서 사용
- 수정이 불가함으로 튜플에 데이터 추가, 수정, 삭제가 불가능하다.
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [110]:
city = ('서울','부산','인천','대구')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '대구')

In [107]:
'-'.join(city)

'서울-부산-인천-대구'

In [108]:
I = ['서울']   # 요소가 하나 있는 리스트
print(type(I))
print(I)

<class 'list'>
['서울']

In [109]:
city =('서울') # 요소가 하나 있는 튜플(X)
print(type(city))

<class 'str'>

In [112]:
city = ('서울', )  #요소가 하나있는 튜플(o)
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [115]:
numbers = 1,2,3 # 여러개 값을 나열할 때는 자동적으로 튜플로 처리
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [116]:
numbers.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [118]:
numbers.remove(4)      # 수정하기 위한 함수들은 모두 적용 불가

AttributeError: 'tuple' object has no attribute 'remove'

In [119]:
len(numbers), min(numbers), max(numbers)

(3, 1, 3)

In [120]:
numbers.count(2)

1

In [121]:
data = (0,1,2,3,4, (5,6))
data[2:5]

(2, 3, 4)

In [123]:
data.index(2)  # 2가 있는 곳의 index

2

In [124]:
data = (0,1,2,)
data*3

(0, 1, 2, 0, 1, 2, 0, 1, 2)

# 3절. 딕셔너리
cf. 자바에서의 hashMap
    * 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
    * 키는 유일한 값(중복허용안함). 키에 리스트는 사용불가. 키에 투플은 사용가능
    * 값은 중복 가능. 모든 데이터 타입이 가능
    * 없는 키의 값을 참조하면 에러 발생
    * 인덱스를 이용한 참조는 지원 안함

In [125]:
dic = {'key1':'value', 'key2':'value'}
print(type(dic))
print(dic)

<class 'dict'>
{'key1': 'value', 'key2': 'value'}

In [126]:
len(dic)   # 데이터 요소의 갯수

2

In [127]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [128]:
my_favorite[1]

KeyError: 1

In [129]:
my_favorite['fruit']

'apple'

In [130]:
my_favorite.get('fruit')

'apple'

In [132]:
#print(my_favorite['people']) # 키목록에 없는 데이터를 인덱스로 참조시  에러
print(my_favorite.get('people'))

None

In [136]:
#  수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit']='banana'
print('fruit 수정후 :', my_favorite)
my_favorite['people']='KIM'
print('people 추가후 :', my_favorite)
del(my_favorite['sport'])
print('sport 삭제후 :',my_favorite)

fruit 수정후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf'}
people 추가후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf', 'people': 'KIM'}
sport 삭제후 : {'fruit': 'banana', 'number': 12, 'people': 'KIM'}

In [138]:
# for을 이용한 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}
my_tuple = ('홍길동', 25, '010-9999-9999')
for data in my_tuple:
    print(data, end='\t')

for idx in range(len(my_tuple)):
    print("{}번째 데이터 : {}".format(idx, my_tuple[idx]))

홍길동	25	010-9999-9999	0번째 데이터 : 홍길동
1번째 데이터 : 25
2번째 데이터 : 010-9999-9999

In [139]:
# for을 이용한 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}
for data in my_dic:
    print(data, end='\t')

name	age	tel

In [140]:
my_dic.keys() # 키목록

dict_keys(['name', 'age', 'tel'])

In [141]:
my_dic.values() # 값들만

dict_values(['홍길동', 25, '010-9999-9999'])

In [142]:
my_dic.items() # 튜플로 이루어진 (키, 값)

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [144]:
for key in my_dic.keys():
    print(key, end='\t')

name	age	tel	홍길동	25	010-9999-9999

In [145]:
for key in my_dic.values():
    print(key, end='\t')

홍길동	25	010-9999-9999

In [146]:
for item in my_dic.items():
    print("{}은 {}".format(item[0],item[1]))

name은 홍길동
age은 25
tel은 010-9999-9999

In [147]:
for key, value in my_dic.items():
    print("{}은 {}".format(key,value))

name은 홍길동
age은 25
tel은 010-9999-9999

In [ ]:
#in 연산자

In [1]:
L = (1,2,3)
2 in L

True

In [2]:
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}
'홍길동' in my_dic

False

In [4]:
# 딕셔너리에서의 in연산자는 키가 있는지 여부 반환
'name' in my_dic

True

In [5]:
my_favorite = {'fruit':'apple', 'number':1}
new_my_favorite = my_favorite  # 할당
print(my_favorite)
print(new_my_favorite)

{'fruit': 'apple', 'number': 1}
{'fruit': 'apple', 'number': 1}

In [6]:
my_favorite['fruit'] = '과일은 다 좋아'
print(my_favorite)
print(new_my_favorite)
print('주소 :',id(my_favorite))
print('주소 :',id(new_my_favorite))

{'fruit': '과일은 다 좋아', 'number': 1}
{'fruit': '과일은 다 좋아', 'number': 1}
주소 : 1813460815104
주소 : 1813460815104

In [7]:
my_favorite = {'fruit':'apple', 'number':1}
new_my_favorite = my_favorite.copy()   #복제
my_favorite['fruit'] = '과일은 다 좋아'
print(my_favorite)
print(new_my_favorite)
print('주소 :',id(my_favorite))
print('주소 :',id(new_my_favorite))

{'fruit': '과일은 다 좋아', 'number': 1}
{'fruit': 'apple', 'number': 1}
주소 : 1813460831232
주소 : 1813460836416

# 4절. 셋
    * 중복 허용하지 않는 집합(순서x)
    * 중괄호({})나 set()함수를 이용해서 셋 생성 : set([1,2]) set({딕셔너리}) set(튜플)
    * 집합연산자 (&교집합, |합집합, -차집합)

In [8]:
fruits = {'apple', 'orange', 'banana', 'banana'}
fruits

{'apple', 'banana', 'orange'}

In [12]:
s1 = set([1,2,3,1])
s1

{1, 2, 3}

In [11]:
[1,2,3,1]

[1, 2, 3, 1]

In [14]:
s2 = set((1,2,3,1))
s2

{1, 2, 3}

In [15]:
s3 = set({'name':'홍길동','age':30}) #set 함수를 이용하면 키 값만 적용
s3

{'age', 'name'}

In [18]:
s2.add(5)  # 2,3번 실행도 4는 한번 추가
s2.add(6)
s2

{1, 2, 3, 4, 5, 6}

In [19]:
s2.add((7,8,9))    # add 함수는 인수로 기본자료형, 튜플 가능
s2

{(7, 8, 9), 1, 2, 3, 4, 5, 6}

In [20]:
s2.add([10,11,12])  # add함수는 list인수 불가
s2

TypeError: unhashable type: 'list'

In [21]:
s2.add(False)
s2

{(7, 8, 9), 1, 2, 3, 4, 5, 6, False}

In [ ]:
s2.add(0) 
s2

In [22]:
s2.add({'name':'kim', 'age':22})  # add함수는 dictionary 인수 불가

TypeError: unhashable type: 'dict'

In [24]:
s1 = {1,2,3}
s1.update([4,5,6,1])
s1

{1, 2, 3, 4, 5, 6}

In [25]:
s1.update({'name':'kim','age':30})     # 딕셔너리는 키값만 추가
s1

{1, 2, 3, 4, 5, 6, 'age', 'name'}

In [26]:
s1.remove('name')

In [27]:
s1.remove('kim')  # 없는 데이터를 remove할 경우 에러

KeyError: 'kim'

In [29]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print('s1 = ', s1)
print('s2 = ', s2)
print('교집합 = ', s1 & s2) # &:교집합, 논리연산자(and), 비트연산자
print('교집합 = ', s1 | s2)
print('차집합 = ', s1 - s2)

s1 =  {1, 2, 3, 4, 5, 6}
s2 =  {4, 5, 6, 7, 8, 9}
교집합 =  {4, 5, 6}
교집합 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 =  {1, 2, 3}

In [30]:
name = {'kildong', 'kilja', 'sunja'}
print(name)

{'kildong', 'kilja', 'sunja'}

In [31]:
name[0]

TypeError: 'set' object is not subscriptable

In [32]:
for n in name:
    print(n, end='\t\t')

kildong		kilja		sunja

# 5절 enumerate
   - 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결하는 함수

In [33]:
list(enumerate(name))

[(0, 'kildong'), (1, 'kilja'), (2, 'sunja')]

In [35]:
for idx, data in enumerate(name):
    print("{}번째 : {}".format(idx, data))

0번째 : kildong
1번째 : kilja
2번째 : sunja

In [34]:
for l in [0,1,2]:
    print(l)

0
1
2

In [36]:
L = ['길자','순자','길동']
for idx in range(len(L)):
    print("{}번째 : {}".format(idx,L[idx]))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [37]:
list(enumerate(L))

[(0, '길자'), (1, '순자'), (2, '길동')]

In [39]:
for idx, name in enumerate(L):
    print("{} : {}".format(idx,name))

0 : 길자
1 : 순자
2 : 길동

In [44]:
dic = {'name':'홍길동', 'age':35, 'address':'서울시 마포구'}

In [45]:
for key, value in dic.items():
    print("{} : {}".format(key,value))

name : 홍길동
age : 35
address : 서울시 마포구

In [46]:
dic.items()

dict_items([('name', '홍길동'), ('age', 35), ('address', '서울시 마포구')])

In [47]:
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '서울시 마포구'))]

In [48]:
for idx, (key, value) in enumerate(dic.items()):
    print("{}번째 {}키 값은 {}".format(idx, key, value))

0번째 name키 값은 홍길동
1번째 age키 값은 35
2번째 address키 값은 서울시 마포구

# 6절. 연습문제(실습형 1-10, 서술형 1-10)

In [ ]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
# numbers = [1,2,,4,5,6,7,8,9,10]

In [50]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [51]:
#1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [52]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
# data = [200, 300, 400, 500]
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [53]:
#3. 처음 다섯 개 숫자만 출력하세요
numbers[0:5]

[1, 2, 3, 4, 5]

In [59]:
#4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers[1::2]

[2, 4, 6, 8, 10, 200, 400]

In [61]:
#5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers[1::2]=[0,0,0,0,0,0,0]
numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [62]:
#6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers[::-1]

[500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [86]:
#  다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
# member_info = {“name”:”홍길동”, “age”:20”, address”:”서울시 마포구“,“score”:90}
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구","score":90}

In [84]:
#7. address값을 출력하세요
member_info['address']

'서울시 마포구'

In [87]:
#8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요.
print(member_info['score'])
del(member_info['score'])
member_info

90

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [88]:
#9. Address를 “서울시 서대문구”로 변경하세요.
member_info['address']="서울시 서대문구"
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [101]:
#10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
[data for data in member_info.values()]
[data for data in member_info.items()]

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

In [112]:
# 1. 다음 코드를 실행했을 때 출력되는 것은?
# L1 = (“orange”,”apple”,”banana”,”kiwi”)
# new_list = [i for i in L1 if len(i)>5]
# print(new_list)

# 답: [“orange”,”apple”,”banana”]

# 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
# ① print(list(range(10))) - [0,1,2,3,4,5,6,7,8,9]
# ② print(list(range(5,10))) - [5,6,7,8,9]
# ③ print(list(range(10,0,-1))) - [9,8,7,6,5,4,3,2,1,0]
# ④ print(list(range(10,20,2))) – [10,12,14,16,18]

# 답: 3번

# 3. 다음 구문에 의해 출력되는 것은?
# numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
# len(numbers_2d[3])

# 답: 1

# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
# numbers = [1,2,3,4,5]
# numbers.__________([10,20,30,40,50])
# numbers
# 결과 : [1,2,3,4,510,20,30,40,50]

# 답: extend    

# 5. 다음 구문을 실행할 때 결과는 ?
# numbers = list(range(10))
# numbers[ : : 2]= [0] * len(numbers[ : : 2])
# print(numbers)

# 답: [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

# 6. 다음 구문을 실행할 때 결과는 ?
# numbers = [0,1,2,3,4,5,6,7,8,9]
# numbers[ : : 2]= numbers[5:]

# 답: [5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

# 7. 다음 구문을 실행할 때 결과는 ?
# numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# numbers[ : : 2]= numbers[:5]
# print(numbers)

# 답: [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

# 8. 다음 데이터에서 10을 출력할 수 없는 구문은?
# my_dic = {“a”:10, “b”:20, “c”:30}
# ① my_dic[0]
# ② my_dic[‘a’]
# ③ list(my_dic.items())[0][1]
# ④ list(my_dic.values())[0]
# ⑤ my_dic.get(‘a’)

# 답: 2번