<b><font size="6" color="red">ch09_파일 i/o프로그래밍</font></b>

# 1절. 파일에 데이터 저장하고 불러오기

In [3]:
# w : 있는 파일을 w모드로 열면 기존의 파일에 덮어쓰기
# a : 있는 파일을 a모드로 열면 append
        # 없는 파일이면 새롭게 만들어서 쓰기
f = open('data/ch09_sample.txt','w')
print(f.writable())

True

In [4]:
f.write('Hello\nWorld\nPython') # 한글을 write하면 CP949로 저장(win)
f.close()

In [5]:
# with구문을 이용하면 파일을 열어 사용한 후 매번 닫아주는 번거로움이 없습니다.
with open('data/ch09_sample.txt','w') as f:
    print(f.writable())
    f.write('python is easy. \nPython is smart.')

True

In [6]:
with open('data/ch09_sample.txt','a') as f:
    print("프린트 함수로 파일 쓰기가 가능합니다",file=f)

In [9]:
with open('data/ch09_sample.txt','w', encoding='utf-8') as f:
    f.write('1방법 : Hello\nWorld\n\n')
    textlist = ['Python is easy\n','R is easy\n','Java is smart\n']
    f.write('2방법 : \n')
    for line in textlist:
        f.write(line)
    f.write('3방법 :\n')
    f.writelines(textlist)

In [12]:
with open('data/ch09_sample.txt','r',encoding = 'utf-8') as txtfile:
    lines = txtfile.readlines() #한꺼번에 여러 줄을 읽어 list
    print(lines)

['1방법 : Hello\n', 'World\n', '\n', '2방법 : \n', 'Python is easy\n', 'R is easy\n', 'Java is smart\n', '3방법 :\n', 'Python is easy\n', 'R is easy\n', 'Java is smart\n']

In [16]:
for line in lines:
    print(line, end='')

In [18]:
# 파일을 한줄 읽고 한줄 출력, 한줄 읽고 한줄 출력
with open('data/ch09_sample.txt','r',encoding='utf-8') as f:
    line = f.readline()
    while line != '':
        print(line, end='')
        line = f.readline()

1방법 : Hello
World

2방법 :
Python is easy
R is easy
Java is smart
3방법 :
Python is easy
R is easy
Java is smart

# 2절. 피클을 이용한 객체 저장 및 불러오기

## 2.1 형식이 있는 텍스트 데이터 불러오기

In [22]:
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines()
    for line in lines:
        data = line.strip().split(',')
        name = data[0]
        age = int(data[1].strip())
        email = data[2].strip()
        address = data[3].strip()
        print("이름:{}, 나이:{}, 메일:{}\t 주소:{}".format(name, age, email, address))

이름:홍길동, 나이:20, 메일:kildong@hong.com	 주소:서울시 강동구
이름:홍길순, 나이:22, 메일:kilsun@hong.com	 주소:서울시 용산구

## 2.2 피클링

In [23]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age =age
        self.email = email
        self.address = address
    
    def __str__(self):
        return "이름:{}, 나이{}, 메일:{}\t 주소:{}".format(self.name, self.age, self.email, self.address)

In [24]:
user1 = Member("홍길동", 20, 'kildong@hong.com', '서울시 용산구')
user2 = Member("김김김", 25, 'kimkim@hong.com', '서울시 용산구')
user3 = Member("신길동", 30, 'shin@hong.com', '서울시 용산구')
user_list = [user1, user2, user3]

In [26]:
for user in user_list:
    print(user)

이름:홍길동, 나이20, 메일:kildong@hong.com	 주소:서울시 용산구
이름:김김김, 나이25, 메일:kimkim@hong.com	 주소:서울시 용산구
이름:신길동, 나이30, 메일:shin@hong.com	 주소:서울시 용산구

In [27]:
# 피클링을 이용한 객체를 저장
import pickle
with open('data/ch09_member.data','wb') as f:    #파일 내용을 한꺼번에 객체로 가져오기 위해서 wb사용. 메모장에서는 안보인다.
    pickle.dump(user_list, f)

In [28]:
del user_list, user1, user2, user3

In [29]:
user_list

NameError: name 'user_list' is not defined

In [30]:
with open('data/ch09_member.data','rb') as f: #언피클링 객체로 파일내용 들고옴
    ul = pickle.load(f)

In [31]:
ul #객체 리스트

[<__main__.Member at 0x28dc959bf40>,
 <__main__.Member at 0x28dc917f100>,
 <__main__.Member at 0x28dc917f430>]

In [32]:
for u in ul:
    print(u)

이름:홍길동, 나이20, 메일:kildong@hong.com	 주소:서울시 용산구
이름:김김김, 나이25, 메일:kimkim@hong.com	 주소:서울시 용산구
이름:신길동, 나이30, 메일:shin@hong.com	 주소:서울시 용산구

# 3절. CSV 형식 파일 읽기/쓰기

## 3.1 reader

In [34]:
# UTF8로 인코딩된 CSV파일 read
import csv
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f)
    # print(list(reader))
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 강동구']
['윤길동', '25', 'yoonkil@hong.com', '서울시 강서구']
['신길동', '30', 'shinkil@hong.com', '서울시 영등포구']

In [36]:
# cp949로 인코딩 된 csv 파일 read(ch09_member1-1.csv)
import csv
with open('data/ch09_member1-1.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(' - '.join(row))

마길동 - 20 - ma@hong.com - 광주 -
석길동 - 25 - suk@hong.com - 마산 - 팀장
탁길동 - 22 - ta@hong.com - 울산 -

In [37]:
# numeric 엔 따옴포 뺌
with open('data/ch09_member1.csv', encoding='utf-8') as f:
    reader = csv.reader(f, quotechar='"',quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['윤길동', 25.0, 'yoonkil@hong.com', '서울시 강서구']
['신길동', 30.0, 'shinkil@hong.com', '서울시 영등포구']

## 3.2 writer

In [38]:
user_list =[['홍길동',20,'hong@hong.com','서울'],
            ['마길동',25,'ma@hong.com','인천']]

In [39]:
# newline='' 옵션을 빼면 개행 2번
try:
    with open('data/ch09_member2.csv','w',encoding='utf-8', newline='') as f:
        writer = csv.writer(f)
        for user in user_list:
            writer.writerow(user)
except FileNotFoundError as e:
    print(e)

In [41]:
# 숫자만 따옴표 안 붙이고, 문자엔 따음표 붙게 csv writer
with open('data/ch09_member2-1.csv','w',newline='',encoding='CP949') as f:
    writer = csv.writer(f,quoting=csv.QUOTE_NONNUMERIC)
#     for user in user_list:
#         writer.writerrow(user)
    writer.writerows(user_list)

## 3.3 DictReader
- csv파일의 자료를 딕셔너리 데이터로 읽기

In [47]:
# header가 있는 csv파일을 딕셔너리로 읽기
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
#    print(list(dict_reader))
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'],row['age'],row['email'],row['address'])
        else:
            print(row['name'],row['age'],row['email'],row['address'],row['job'])

홍길동 20 kil@hong.com 서울
석길동 40 suk@hong.com 인천 팀장
마길동 30 ma@hong.com 안양

In [48]:
# cf. csv파일을 데이터 프레임으로
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv',encoding='utf-8')
member

  name  age         email address  job
0  홍길동   20  kil@hong.com      서울  NaN
1  석길동   40  suk@hong.com      인천   팀장
2  마길동   30   ma@hong.com      안양  NaN

In [49]:
type(member)

pandas.core.frame.DataFrame

In [50]:
# ch09_member1-1.csv
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f)
    print(list(dict_reader))
    #헤더가 첫줄로 생각됨

[{'마길동': '석길동', '20': '25', 'ma@hong.com': 'suk@hong.com', '광주': '마산', '': '팀장'}, {'마길동': '탁길동', '20': '22', 'ma@hong.com': 'ta@hong.com', '광주': '울산', '': ''}]

In [53]:
# ch09_member1-1.csv
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'])
    for row in dict_reader:
        #print(row)
        print(row['Name'], row['Age'], row['Email'], row['Address'] )

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 마산
탁길동 22 ta@hong.com 울산

In [54]:
# ch09_member1-1.csv
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','job'])
    for row in dict_reader:
        #print(row)
        print(row['Name'], row['Age'], row['Email'], row['Address'],row['job'] )

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 마산 팀장
탁길동 22 ta@hong.com 울산

In [61]:
# ch09_member1-1.csv
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'],
                                restkey='job')
    for row in dict_reader:
        #print(row)
        if row['job'][0] == '':
            print(row['Name'], row['Age'], row['Email'], row['Address'])
        else:
            print(row['Name'], row['Age'], row['Email'], row['Address'], row['job'][0] )

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 마산 팀장
탁길동 22 ta@hong.com 울산

## 3.4 DictWriter
- 딕셔너리 변수의 내용을 csv파일로 쓰기

In [62]:
user1 = {'name':'홍길동','age':20,'email':'hong@hong.com','address':'서울'}
user2 = {'name':'박길동','age':23,'email':'park@hong.com','address':'부산'}
user3 = {'name':'신길동','age':29,'email':'shin@hong.com','address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) # ['name', 'age', 'email', 'address'] 헤더에 쓸 내용

In [63]:
list(user1.keys())

['name', 'age', 'email', 'address']

```
csv 파일의 니용
name, age, email, address
홍길동,20,hong@hong.com,서울
...

In [65]:
with open('data/ch09_member4.csv','w',encoding='UTF-8',newline ='') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() #header 한줄 쓰기
#     dict_writer.writerow(user1)
#     dict_writer.writerow(user2)
#     dict_writer.writerow(user3)

#     for user in user_list:
#         dict_writer.writerow(user)
    dict_writer.writerows(user_list)

In [ ]:
# header 내용 : name, age, email, address, job

In [67]:
user1 = {'name':'홍길동','age':20,'email':'hong@hong.com','address':'서울'}
user2 = {'name':'석길동','age':23,'email':'park@hong.com','address':'부산','job':'팀장'}
user3 = {'name':'신길동','age':29,'email':'shin@hong.com','address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user2.keys())  #해더로 쓸 내용

In [69]:
with open('data/ch09_member5.csv','w',newline='',encoding='utf-8') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

In [ ]:
# header 내용 : name, age, email, address

In [70]:
user1 = {'name':'홍길동','age':20,'email':'hong@hong.com','address':'서울'}
user2 = {'name':'석길동','age':23,'email':'park@hong.com','address':'부산','job':'팀장'}
user3 = {'name':'신길동','age':29,'email':'shin@hong.com','address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys())  #해더로 쓸 내용

In [72]:
with open('data/ch09_member5.csv','w',newline='',encoding='utf-8') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames, extrasaction='ignore') #필드이름이 없는 필드를 무시 
                                                           #extrasaction='raise' #기본값 예외 발생시킨다
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

In [2]:
# 꼭 기억해야 할 것
import pandas as pd
# pd패키지의 read_csv의 기본 인코딩 기본값 = utf-8
member = pd.read_csv('data/ch09_member5.csv', encoding='utf-8')
member

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  석길동   23  park@hong.com      부산
2  신길동   29  shin@hong.com      광주

In [3]:
type(member)

pandas.core.frame.DataFrame

In [4]:
member.to_csv('data/ch09_member5-1.csv', encoding='cp949')

# 4절. JSON 데이터 저장하고 불러오기(dump(변수->파일), load(파일->변수))

## 4.1 JSON dump
```
[
  {'location':'서울',
  'date':'2021-07-27',
  'time':0,
  'temperature':33},
  {'location':'천안',
  'date':'2021-07-27',
  'time':0,
  'temperature':35}
]
```

In [5]:
data = [
    {"name":"홍길동","age":20,"email":"hong@hong.com","address":"서울"},
    {"name":"홍길동","age":25,"email":"kim@hong.com","address":"경기"}
]

In [7]:
type(data), type(data[0])

(list, dict)

In [8]:
data

[{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': 25, 'email': 'kim@hong.com', 'address': '경기'}]

In [9]:
# 딕셔너리 리스트를 json파일로 저장
# ensure_ascii=False 부분이 없으면 한글이 유니코드로 저장
import json
with open('data/ch09_member1.json','w') as jsonfile:
    json.dump(data,jsonfile,ensure_ascii=False)

In [11]:
# 딕셔너리 리스트를 json파일로 저장
# ensure_ascii=False 부분이 없으면 한글이 유니코드로 저장
import json
with open('data/ch09_member1.json','w') as jsonfile: #utf-8로 설정 가능
    json.dump(data,jsonfile,ensure_ascii=False, indent=True) #indent들여쓰기

In [15]:
# 객체 리스트를 json 파일로 저장
class Member:
    def __init__(self,name, age, email, address):
        self.name = name
        self.age = age
        self.email =email
        self.address = address
    def as_dict(self): #Member 객체를 dictionary로 반환(객체라스트 -> json)
        return {"name":self.name, "age":self.age, "email":self.email, "address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name,self.age,self.email,self.address)

In [16]:
member1 = Member("홍길동",20,"hong@hong.com","서울")
print(member1)
print(member1.as_dict())

홍길동	20	hong@hong.com	서울
{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}

In [17]:
member2 = Member("김김김",25,"kim@hong.com","경기")
member3 = Member("박길동",30,"park@hong.com","제주")
member_list = [member1, member2, member3]

In [48]:
with open('data/ch09_member2.json','w',encoding='utf-8') as jsonfile:
    json.dump(member_list, jsonfile, ensure_ascii=False, indent='\t', default=Member.as_dict) 
    #객체 ->딕셔너리 리스트 (함수(일반메소드) 생성)

In [24]:
whos #기존에 남아 있는 변수 보여준다

No variables match your requested type.

In [25]:
del member1, member2, member3, member_list

In [26]:
member_list

NameError: name 'member_list' is not defined

## 4.2 JSON load

In [27]:
# json파일을 딕셔너리 리스트로 load
with open('data/ch09_member2.json','r',encoding='utf-8') as jsonfile:           #ansi=cp949
    member_list = json.load(jsonfile)
    for row in member_list:
        print(row)

{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}
{'name': '김김김', 'age': 25, 'email': 'kim@hong.com', 'address': '경기'}
{'name': '박길동', 'age': 30, 'email': 'park@hong.com', 'address': '제주'}

In [ ]:
# json파일을 객체 리스트변수로 load

In [ ]:
class Member:
    def __init__(self,name, age, email, address):
        self.name = name
        self.age = age
        self.email =email
        self.address = address
    def as_dict(self): #Member 객체를 dictionary로 반환
        return {"name":self.name, "age":self.age, "email":self.email, "address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name,self.age,self.email,self.address)

In [28]:
member_list[0]

{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}

In [29]:
#딕셔너리를 객체로 변환하는 함수(json파일 -> 객체리스트)
def as_member(dic):
    return Member(dic['name'], dic['age'], dic['email'], dic['address'])

In [31]:
print(as_member(member_list[0]))

홍길동	20	hong@hong.com	서울

In [32]:
with open('data/ch09_member2.json','r',encoding='utf-8') as jsonfile:
    member_list = json.load(jsonfile, object_hook=as_member)

In [33]:
type(member_list), type(member_list[0])

(list, __main__.Member)

In [34]:
for member in member_list:
    print(member)

홍길동	20	hong@hong.com	서울
김김김	25	kim@hong.com	경기
박길동	30	park@hong.com	제주

In [51]:
# json파일을 DataFrame
import pandas as pd
member = pd.read_json('data/ch09_member2.json')
member

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [52]:
print(member)

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [53]:
type(member)

pandas.core.frame.DataFrame

# 5절. HDF5 파일 일기/쓰기(딕셔너리, 데이터프레임)

## 5.1h5py 사용

In [37]:
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [38]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [39]:
iris_dic = iris_df.to_dict() # 데이터 프레임 변수로 딕셔너리변수로 형변환
iris_dic

{'sepal_length': {0: 5.1,
  1: 4.9,
  2: 4.7,
  3: 4.6,
  4: 5.0,
  5: 5.4,
  6: 4.6,
  7: 5.0,
  8: 4.4,
  9: 4.9,
  10: 5.4,
  11: 4.8,
  12: 4.8,
  13: 4.3,
  14: 5.8,
  15: 5.7,
  16: 5.4,
  17: 5.1,
  18: 5.7,
  19: 5.1,
  20: 5.4,
  21: 5.1,
  22: 4.6,
  23: 5.1,
  24: 4.8,
  25: 5.0,
  26: 5.0,
  27: 5.2,
  28: 5.2,
  29: 4.7,
  30: 4.8,
  31: 5.4,
  32: 5.2,
  33: 5.5,
  34: 4.9,
  35: 5.0,
  36: 5.5,
  37: 4.9,
  38: 4.4,
  39: 5.1,
  40: 5.0,
  41: 4.5,
  42: 4.4,
  43: 5.0,
  44: 5.1,
  45: 4.8,
  46: 5.1,
  47: 4.6,
  48: 5.3,
  49: 5.0,
  50: 7.0,
  51: 6.4,
  52: 6.9,
  53: 5.5,
  54: 6.5,
  55: 5.7,
  56: 6.3,
  57: 4.9,
  58: 6.6,
  59: 5.2,
  60: 5.0,
  61: 5.9,
  62: 6.0,
  63: 6.1,
  64: 5.6,
  65: 6.7,
  66: 5.6,
  67: 5.8,
  68: 6.2,
  69: 5.6,
  70: 5.9,
  71: 6.1,
  72: 6.3,
  73: 6.1,
  74: 6.4,
  75: 6.6,
  76: 6.8,
  77: 6.7,
  78: 6.0,
  79: 5.7,
  80: 5.5,
  81: 5.5,
  82: 5.8,
  83: 6.0,
  84: 5.4,
  85: 6.0,
  86: 6.7,
  87: 6.3,
  88: 5.6,
  89: 5.5,
  90: 5.5,
  91: 6.1,
  92: 5.8,
  93: 5.0,
  94: 5.6,
  95: 5.7,
  96: 5.7,
  97: 6.2,
  98: 5.1,
  99: 5.7,
  100: 6.3,
  101: 5.8,
  102: 7.1,
  103: 6.3,
  104: 6.5,
  105: 7.6,
  106: 4.9,
  107: 7.3,
  108: 6.7,
  109: 7.2,
  110: 6.5,
  111: 6.4,
  112: 6.8,
  113: 5.7,
  114: 5.8,
  115: 6.4,
  116: 6.5,
  117: 7.7,
  118: 7.7,
  119: 6.0,
  120: 6.9,
  121: 5.6,
  122: 7.7,
  123: 6.3,
  124: 6.7,
  125: 7.2,
  126: 6.2,
  127: 6.1,
  128: 6.4,
  129: 7.2,
  130: 7.4,
  131: 7.9,
  132: 6.4,
  133: 6.3,
  134: 6.1,
  135: 7.7,
  136: 6.3,
  137: 6.4,
  138: 6.0,
  139: 6.9,
  140: 6.7,
  141: 6.9,
  142: 5.8,
  143: 6.8,
  144: 6.7,
  145: 6.7,
  146: 6.3,
  147: 6.5,
  148: 6.2,
  149: 5.9},
 'sepal_width': {0: 3.5,
  1: 3.0,
  2: 3.2,
  3: 3.1,
  4: 3.6,
  5: 3.9,
  6: 3.4,
  7: 3.4,
  8: 2.9,
  9: 3.1,
  10: 3.7,
  11: 3.4,
  12: 3.0,
  13: 3.0,
  14: 4.0,
  15: 4.4,
  16: 3.9,
  17: 3.5,
  18: 3.8,
  19: 3.8,
  20: 3.4,
  21: 3.7,
  22: 3.6,
  23: 3.3,
  24: 3.4,
  25: 3.0,
  26: 3.4,
  27: 3.5,
  28: 3.4,
  29: 3.2,
  30: 3.1,
  31: 3.4,
  32: 4.1,
  33: 4.2,
  34: 3.1,
  35: 3.2,
  36: 3.5,
  37: 3.6,
  38: 3.0,
  39: 3.4,
  40: 3.5,
  41: 2.3,
  42: 3.2,
  43: 3.5,
  44: 3.8,
  45: 3.0,
  46: 3.8,
  47: 3.2,
  48: 3.7,
  49: 3.3,
  50: 3.2,
  51: 3.2,
  52: 3.1,
  53: 2.3,
  54: 2.8,
  55: 2.8,
  56: 3.3,
  57: 2.4,
  58: 2.9,
  59: 2.7,
  60: 2.0,
  61: 3.0,
  62: 2.2,
  63: 2.9,
  64: 2.9,
  65: 3.1,
  66: 3.0,
  67: 2.7,
  68: 2.2,
  69: 2.5,
  70: 3.2,
  71: 2.8,
  72: 2.5,
  73: 2.8,
  74: 2.9,
  75: 3.0,
  76: 2.8,
  77: 3.0,
  78: 2.9,
  79: 2.6,
  80: 2.4,
  81: 2.4,
  82: 2.7,
  83: 2.7,
  84: 3.0,
  85: 3.4,
  86: 3.1,
  87: 2.3,
  88: 3.0,
  89: 2.5,
  90: 2.6,
  91: 3.0,
  92: 2.6,
  93: 2.3,
  94: 2.7,
  95: 3.0,
  96: 2.9,
  97: 2.9,
  98: 2.5,
  99: 2.8,
  100: 3.3,
  101: 2.7,
  102: 3.0,
  103: 2.9,
  104: 3.0,
  105: 3.0,
  106: 2.5,
  107: 2.9,
  108: 2.5,
  109: 3.6,
  110: 3.2,
  111: 2.7,
  112: 3.0,
  113: 2.5,
  114: 2.8,
  115: 3.2,
  116: 3.0,
  117: 3.8,
  118: 2.6,
  119: 2.2,
  120: 3.2,
  121: 2.8,
  122: 2.8,
  123: 2.7,
  124: 3.3,
  125: 3.2,
  126: 2.8,
  127: 3.0,
  128: 2.8,
  129: 3.0,
  130: 2.8,
  131: 3.8,
  132: 2.8,
  133: 2.8,
  134: 2.6,
  135: 3.0,
  136: 3.4,
  137: 3.1,
  138: 3.0,
  139: 3.1,
  140: 3.1,
  141: 3.1,
  142: 2.7,
  143: 3.2,
  144: 3.3,
  145: 3.0,
  146: 2.5,
  147: 3.0,
  148: 3.4,
  149: 3.0},
 'petal_length': {0: 1.4,
  1: 1.4,
  2: 1.3,
  3: 1.5,
  4: 1.4,
  5: 1.7,
  6: 1.4,
  7: 1.5,
  8: 1.4,
  9: 1.5,
  10: 1.5,
  11: 1.6,
  12: 1.4,
  13: 1.1,
  14: 1.2,
  15: 1.5,
  16: 1.3,
  17: 1.4,
  18: 1.7,
  19: 1.5,
  20: 1.7,
  21: 1.5,
  22: 1.0,
  23: 1.7,
  24: 1.9,
  25: 1.6,
  26: 1.6,
  27: 1.5,
  28: 1.4,
  29: 1.6,
  30: 1.6,
  31: 1.5,
  32: 1.5,
  33: 1.4,
  34: 1.5,
  35: 1.2,
  36: 1.3,
  37: 1.4,
  38: 1.3,
  39: 1.5,
  40: 1.3,
  41: 1.3,
  42: 1.3,
  43: 1.6,
  44: 1.9,
  45: 1.4,
  46: 1.6,
  47: 1.4,
  48: 1.5,
  49: 1.4,
  50: 4.7,
  51: 4.5,
  52: 4.9,
  53: 4.0,
  54: 4.6,
  55: 4.5,
  56: 4.7,
  57: 3.3,
  58: 4.6,
  59: 3.9,
  60: 3.5,
  61: 4.2,
  62: 4.0,
  63: 4.7,
  64: 3.6,
  65: 4.4,
  66: 4.5,
  67: 4.1,
  68: 4.5,
  69: 3.9,
  70: 4.8,
  71: 4.0,
  72: 4.9,
  73: 4.7,
  74: 4.3,
  75: 4.4,
  76: 4.8,
  77: 5.0,
  78: 4.5,
  79: 3.5,
  80: 3.8,
  81: 3.7,
  82: 3.9,
  83: 5.1,
  84: 4.5,
  85: 4.5,
  86: 4.7,
  87: 4.4,
  88: 4.1,
  89: 4.0,
  90: 4.4,
  91: 4.6,
  92: 4.0,
  93: 3.3,
  94: 4.2,
  95: 4.2,
  96: 4.2,
  97: 4.3,
  98: 3.0,
  99: 4.1,
  100: 6.0,
  101: 5.1,
  102: 5.9,
  103: 5.6,
  104: 5.8,
  105: 6.6,
  106: 4.5,
  107: 6.3,
  108: 5.8,
  109: 6.1,
  110: 5.1,
  111: 5.3,
  112: 5.5,
  113: 5.0,
  114: 5.1,
  115: 5.3,
  116: 5.5,
  117: 6.7,
  118: 6.9,
  119: 5.0,
  120: 5.7,
  121: 4.9,
  122: 6.7,
  123: 4.9,
  124: 5.7,
  125: 6.0,
  126: 4.8,
  127: 4.9,
  128: 5.6,
  129: 5.8,
  130: 6.1,
  131: 6.4,
  132: 5.6,
  133: 5.1,
  134: 5.6,
  135: 6.1,
  136: 5.6,
  137: 5.5,
  138: 4.8,
  139: 5.4,
  140: 5.6,
  141: 5.1,
  142: 5.1,
  143: 5.9,
  144: 5.7,
  145: 5.2,
  146: 5.0,
  147: 5.2,
  148: 5.4,
  149: 5.1},
 'petal_width': {0: 0.2,
  1: 0.2,
  2: 0.2,
  3: 0.2,
  4: 0.2,
  5: 0.4,
  6: 0.3,
  7: 0.2,
  8: 0.2,
  9: 0.1,
  10: 0.2,
  11: 0.2,
  12: 0.1,
  13: 0.1,
  14: 0.2,
  15: 0.4,
  16: 0.4,
  17: 0.3,
  18: 0.3,
  19: 0.3,
  20: 0.2,
  21: 0.4,
  22: 0.2,
  23: 0.5,
  24: 0.2,
  25: 0.2,
  26: 0.4,
  27: 0.2,
  28: 0.2,
  29: 0.2,
  30: 0.2,
  31: 0.4,
  32: 0.1,
  33: 0.2,
  34: 0.2,
  35: 0.2,
  36: 0.2,
  37: 0.1,
  38: 0.2,
  39: 0.2,
  40: 0.3,
  41: 0.3,
  42: 0.2,
  43: 0.6,
  44: 0.4,
  45: 0.3,
  46: 0.2,
  47: 0.2,
  48: 0.2,
  49: 0.2,
  50: 1.4,
  51: 1.5,
  52: 1.5,
  53: 1.3,
  54: 1.5,
  55: 1.3,
  56: 1.6,
  57: 1.0,
  58: 1.3,
  59: 1.4,
  60: 1.0,
  61: 1.5,
  62: 1.0,
  63: 1.4,
  64: 1.3,
  65: 1.4,
  66: 1.5,
  67: 1.0,
  68: 1.5,
  69: 1.1,
  70: 1.8,
  71: 1.3,
  72: 1.5,
  73: 1.2,
  74: 1.3,
  75: 1.4,
  76: 1.4,
  77: 1.7,
  78: 1.5,
  79: 1.0,
  80: 1.1,
  81: 1.0,
  82: 1.2,
  83: 1.6,
  84: 1.5,
  85: 1.6,
  86: 1.5,
  87: 1.3,
  88: 1.3,
  89: 1.3,
  90: 1.2,
  91: 1.4,
  92: 1.2,
  93: 1.0,
  94: 1.3,
  95: 1.2,
  96: 1.3,
  97: 1.3,
  98: 1.1,
  99: 1.3,
  100: 2.5,
  101: 1.9,
  102: 2.1,
  103: 1.8,
  104: 2.2,
  105: 2.1,
  106: 1.7,
  107: 1.8,
  108: 1.8,
  109: 2.5,
  110: 2.0,
  111: 1.9,
  112: 2.1,
  113: 2.0,
  114: 2.4,
  115: 2.3,
  116: 1.8,
  117: 2.2,
  118: 2.3,
  119: 1.5,
  120: 2.3,
  121: 2.0,
  122: 2.0,
  123: 1.8,
  124: 2.1,
  125: 1.8,
  126: 1.8,
  127: 1.8,
  128: 2.1,
  129: 1.6,
  130: 1.9,
  131: 2.0,
  132: 2.2,
  133: 1.5,
  134: 1.4,
  135: 2.3,
  136: 2.4,
  137: 1.8,
  138: 1.8,
  139: 2.1,
  140: 2.4,
  141: 2.3,
  142: 1.9,
  143: 2.3,
  144: 2.5,
  145: 2.3,
  146: 1.9,
  147: 2.0,
  148: 2.3,
  149: 1.8},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa',
  6: 'setosa',
  7: 'setosa',
  8: 'setosa',
  9: 'setosa',
  10: 'setosa',
  11: 'setosa',
  12: 'setosa',
  13: 'setosa',
  14: 'setosa',
  15: 'setosa',
  16: 'setosa',
  17: 'setosa',
  18: 'setosa',
  19: 'setosa',
  20: 'setosa',
  21: 'setosa',
  22: 'setosa',
  23: 'setosa',
  24: 'setosa',
  25: 'setosa',
  26: 'setosa',
  27: 'setosa',
  28: 'setosa',
  29: 'setosa',
  30: 'setosa',
  31: 'setosa',
  32: 'setosa',
  33: 'setosa',
  34: 'setosa',
  35: 'setosa',
  36: 'setosa',
  37: 'setosa',
  38: 'setosa',
  39: 'setosa',
  40: 'setosa',
  41: 'setosa',
  42: 'setosa',
  43: 'setosa',
  44: 'setosa',
  45: 'setosa',
  46: 'setosa',
  47: 'setosa',
  48: 'setosa',
  49: 'setosa',
  50: 'versicolor',
  51: 'versicolor',
  52: 'versicolor',
  53: 'versicolor',
  54: 'versicolor',
  55: 'versicolor',
  56: 'versicolor',
  57: 'versicolor',
  58: 'versicolor',
  59: 'versicolor',
  60: 'versicolor',
  61: 'versicolor',
  62: 'versicolor',
  63: 'versicolor',
  64: 'versicolor',
  65: 'versicolor',
  66: 'versicolor',
  67: 'versicolor',
  68: 'versicolor',
  69: 'versicolor',
  70: 'versicolor',
  71: 'versicolor',
  72: 'versicolor',
  73: 'versicolor',
  74: 'versicolor',
  75: 'versicolor',
  76: 'versicolor',
  77: 'versicolor',
  78: 'versicolor',
  79: 'versicolor',
  80: 'versicolor',
  81: 'versicolor',
  82: 'versicolor',
  83: 'versicolor',
  84: 'versicolor',
  85: 'versicolor',
  86: 'versicolor',
  87: 'versicolor',
  88: 'versicolor',
  89: 'versicolor',
  90: 'versicolor',
  91: 'versicolor',
  92: 'versicolor',
  93: 'versicolor',
  94: 'versicolor',
  95: 'versicolor',
  96: 'versicolor',
  97: 'versicolor',
  98: 'versicolor',
  99: 'versicolor',
  100: 'virginica',
  101: 'virginica',
  102: 'virginica',
  103: 'virginica',
  104: 'virginica',
  105: 'virginica',
  106: 'virginica',
  107: 'virginica',
  108: 'virginica',
  109: 'virginica',
  110: 'virginica',
  111: 'virginica',
  112: 'virginica',
  113: 'virginica',
  114: 'virginica',
  115: 'virginica',
  116: 'virginica',
  117: 'virginica',
  118: 'virginica',
  119: 'virginica',
  120: 'virginica',
  121: 'virginica',
  122: 'virginica',
  123: 'virginica',
  124: 'virginica',
  125: 'virginica',
  126: 'virginica',
  127: 'virginica',
  128: 'virginica',
  129: 'virginica',
  130: 'virginica',
  131: 'virginica',
  132: 'virginica',
  133: 'virginica',
  134: 'virginica',
  135: 'virginica',
  136: 'virginica',
  137: 'virginica',
  138: 'virginica',
  139: 'virginica',
  140: 'virginica',
  141: 'virginica',
  142: 'virginica',
  143: 'virginica',
  144: 'virginica',
  145: 'virginica',
  146: 'virginica',
  147: 'virginica',
  148: 'virginica',
  149: 'virginica'}}

In [42]:
list(iris_dic.keys())

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [45]:
for group, value in iris_dic.items():
    print(group, value)
    print('\n')

sepal_length {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}


sepal_width {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}


petal_length {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}


petal_width {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}


species {0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}

In [46]:
for group, value in iris_dic.items():
    print('변수는 ', group)
    for key, data in value.items():
        print("{}:{}".format(key,data),end='\t')
    print('\n')

변수는  sepal_length
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9

변수는  sepal_width
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0

변수는  petal_length
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1

변수는  petal_width
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8

변수는  species
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [61]:
# iris_dic를 hdf5파일로 쓰기
import h5py
with h5py.File('data/ch09_iris.hdf5','w') as f:
    for group, value in iris_dic.items():
        grp = f.create_group(group)
        for key, data in value.items():
            grp.create_dataset(str(key), data=data)

In [57]:
# iris_df(데이터프레임)을 hdf5파일로 쓰기
iris_df.to_hdf('data/ch09_iris2.hdf5', key='iris')

In [58]:
# hdf5 파일을 딕셔너리 변수로 불러오기

In [59]:
dict_data = {}
dict_data['name']='홍길동'
dict_data

{'name': '홍길동'}

In [60]:
dict_data = {}
dict_data.update({'name':'홍길동'})
dict_data

{'name': '홍길동'}

In [62]:
import h5py
with h5py.File('data/ch09_iris.hdf5','r') as f:
    for group, value in f.items():
        print("변수는 ", group)
        for key, data in value.items():
            print("{}:{}".format(key, data.value), end='\t')

변수는  petal_length
0:1.4	1:1.4	10:1.5	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	11:1.6	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	12:1.4	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	13:1.1	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	14:1.2	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	2:1.3	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	3:1.5	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	4:1.4	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	5:1.7	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	6:1.4	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	7:1.5	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	8:1.4	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	9:1.5	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	변수는  petal_width
0:0.2	1:0.2	10:0.2	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	11:0.2	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	12:0.1	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	13:0.1	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	14:0.2	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	2:0.2	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	3:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	4:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	5:0.4	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	6:0.3	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	7:0.2	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	8:0.2	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	9:0.1	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	변수는  sepal_length
0:5.1	1:4.9	10:5.4	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	11:4.8	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	12:4.8	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	13:4.3	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	14:5.8	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	2:4.7	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	3:4.6	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	4:5.0	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	5:5.4	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	6:4.6	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	7:5.0	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	8:4.4	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	9:4.9	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	변수는  sepal_width
0:3.5	1:3.0	10:3.7	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	11:3.4	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	12:3.0	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	13:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	14:4.0	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	2:3.2	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	3:3.1	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	4:3.6	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	5:3.9	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	6:3.4	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	7:3.4	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	8:2.9	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	9:3.1	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	변수는  species
0:setosa	1:setosa	10:setosa	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	11:setosa	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica

<ipython-input-62-0b367e3b0f6b>:6: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  print("{}:{}".format(key, data.value), end='\t')

	118:virginica	119:virginica	12:setosa	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	13:setosa	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	14:setosa	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	2:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	3:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	4:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	5:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	6:setosa	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	7:setosa	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	8:setosa	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	9:setosa	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor

In [63]:
iris_dic2 = {}
with h5py.File('data/ch09_iris.hdf5','r') as f:
    for group, value in f.items():
        cols = {}
        for key, data in value.items():
            cols.update({int(key):data.value})
            # cols[int(key)] = data.value
        iris_dic2.update({group : cols})

<ipython-input-63-ffad26d7e5ff>:6: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  cols.update({int(key):data.value})

In [64]:
for group, value in iris_dic2.items():
    print('변수명', group)
    print(value)

변수명 petal_length
{0: 1.4, 1: 1.4, 10: 1.5, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 11: 1.6, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 12: 1.4, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 13: 1.1, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 14: 1.2, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 2: 1.3, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 3: 1.5, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 4: 1.4, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 5: 1.7, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 6: 1.4, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 7: 1.5, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 8: 1.4, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 9: 1.5, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1}
변수명 petal_width
{0: 0.2, 1: 0.2, 10: 0.2, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 11: 0.2, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 12: 0.1, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 13: 0.1, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 14: 0.2, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 2: 0.2, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 3: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 4: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 5: 0.4, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 6: 0.3, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 7: 0.2, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 8: 0.2, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 9: 0.1, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3}
변수명 sepal_length
{0: 5.1, 1: 4.9, 10: 5.4, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 11: 4.8, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 12: 4.8, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 13: 4.3, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 14: 5.8, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 2: 4.7, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 3: 4.6, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 4: 5.0, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 5: 5.4, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 6: 4.6, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 7: 5.0, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 8: 4.4, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 9: 4.9, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7}
변수명 sepal_width
{0: 3.5, 1: 3.0, 10: 3.7, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 11: 3.4, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 12: 3.0, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 13: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 14: 4.0, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 2: 3.2, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 3: 3.1, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 4: 3.6, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 5: 3.9, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 6: 3.4, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 7: 3.4, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 8: 2.9, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 9: 3.1, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8}
변수명 species
{0: 'setosa', 1: 'setosa', 10: 'setosa', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 11: 'setosa', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 12: 'setosa', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 13: 'setosa', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 14: 'setosa', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 2: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 3: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 4: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 5: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 6: 'setosa', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 7: 'setosa', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 8: 'setosa', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 9: 'setosa', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor'}

In [65]:
# hdf5 파일을 데이터프레임 변수로 읽어오기
iris_df2 = pd.read_hdf('data/ch09_iris2.hdf5', key='iris')
iris_df2

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 6절. 연습문제. 고객관리(1:입력, 2:전체출력....)

In [ ]:
# 필요한 클래스나 함수 정의

In [1]:
class Customer:
    '고객 데이터 저장'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self): # 객체를 딕셔너리데이터로 반환(csv파일 저장시)
        return {"name":self.name, "phone":self.phone, "email":self.email, "age":self.age, "grade":self.grade, "etc":self.etc}
    def to_list_style(self):  #객체를 "홍길동 010-8999-9999 e@e.com 20 3 까칠해" 
        temp = [self.name, self.phone, self.email, str(self.age), str(self.grade), self.etc]
        return ' '.join(temp)
    def __str__(self): #   *** 홍길동 010-8999-9999 e@e.com 20 3 까칠해
        return "{:>5}\t{:3}\t{:15}\t{:15}\t{:3}\t{}".format('*'*self.grade, self.name, self.phone,
                                                            self.email, self.age, self.etc)

In [2]:
# txt파일 내용: "홍길동 010-8999-9999 e@e.com 20 3 까칠해" 
# txt파일 내용-한줄(홍길동 010-8999-9999 e@e.com 20 3 까칠해")을 customer객체로 반환
def to_customer(row):
    data = row.strip().split(' ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)

In [3]:
print(to_customer("홍길동 010-8999-9999 e@e.com 20 3 까칠해"))
print(to_customer("홍길동 010-8999-9999 e@e.com 20 5 까칠해"))

  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
*****	홍길동	010-8999-9999  	e@e.com        	 20	까칠해

In [4]:
# 0. 실행하면 data/ch09_customers.txt 파일의 내용을 Load(Customer List)
#             data/ch09_customers.txt이 없음 빈파일 생성하고 customer_List=[]
def load_customers():
    customer_list=[]
    #파일의 내용을 customer_list에 appned
    #파일이 없으면 빈 파일 생성하고 내용은 ' '
    try:
        with open('data/ch09_customers.txt','r',encoding='utf-8') as f:
            lines = f.readlines()
            for line in lines:
                customer = to_customer(line)
                customer_list.append(customer)
            print('데이터 로드됨')
    except FileNotFoundError:
        print('데이터 파일이 없어 파일 생성')
        with open('data/ch09_customers.txt','w',encoding='utf-8') as f:
            f.write('')
    return customer_list

In [5]:
customer_list = load_customers()

데이터 로드됨

In [6]:
for customer in customer_list:
    print(customer)

  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해

In [20]:
#1. 입력
# def fn1_insert_customer_info():
    # 사용자로부터 이름, 전화번호, 이메일 , 나이, 등급, etc를 받아 customer형 객체를 return
#     while True:
#         a = int(input("입력(1)/입력종료(2)"))
#         if(a==2):
#             break
#         data = input("이름, 전화번호, 이메일 , 나이, 등급, etc 입력")
#         customer_list.append(to_customer(data)) 

def fn1_insert_customer_info():
    # 사용자로부터 이름, 전화번호, 이메일, 나이, 등급, etc를 받아 customer형 객체 return
    name = input('이름 : ')
    phone = input("전화번호 : ")
    email = input("이메일 : ")
    try:
        age = int(input("나이 : "))
        if age<0:
            age = 0
    except ValueError as e:
        print('유효하지 않은 나이  입력시 나이는 0으로 초기화')
        age = 0
    try:
        grade = int(input("고객등급(1~5) : "))
        if grade < 1 :
            grade = 1
        if grade > 5 :
            grade = 5
    except ValueError as e:
        print('유효하지 않은 등급을 입력시 등급은 1로 초기화')
        grade = 1
    etc = input("기타 정보 : ")
    customer = Customer(name, phone, email, age, grade, etc)
    return customer

In [8]:
fn1_insert_customer_info()
for customer in customer_list:
    print(customer)

입력(1)/입력종료(2)1
이름, 전화번호, 이메일 , 나이, 등급, etc 입력a a a 12 3 1
입력(1)/입력종료(2)2
  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
  ***	a  	a              	a              	 12	1

In [9]:
#2. 전체 출력
def fn2_print_customer(customer_list):
    #customer_list를 전체 출력(for문)(***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해)
    ##형식부분
    print('='*75)
    print("{:^70}".format("고객 정보"))
    print('-'*75)
    print("{:^5}\t{:^3}\t{:^15}\t{:^10}\t{}\t{}".format("GRADE",
                                    "이름","전화","메일","나이","기타"))
    print('-'*75)
    for customer in customer_list:
        print(customer)
    print('='*75)

In [10]:
fn2_print_customer(customer_list)

  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
  ***	홍길동	010-8999-9999  	e@e.com        	 20	까칠해
  ***	a  	a              	a              	 12	1

In [21]:
#3. 삭제 (동명이인 무)
def fn3_delete_customer(customer_list):
    # 삭제하고자 하는 고객이름을 받아 customer_list에서 삭제
    # 삭제여부를 출력하면 더욱 좋음
    name = input('삭제할 이름 ?')
    delete_flag = False
    for i, customer in enumerate(customer_list):
        # 삭제할 이름과 같은 이름이 있는지 확인
        if customer.name == name:
            del customer_list[i]
            # customer_list.remove(customer)
            delete_flag = True
            break
    if delete_flag :
        print(name,'님을 삭제하였습니다')
    else:
        print(name,'님이 데이터에 존재하지 않습니다')
        
# def fn3_delete_customer(customer_list):
#     # 삭제하고자 하는 고객이름을 받아 customer_list에서 삭제
#     # 삭제여부를 출력하면 더욱 좋음
#     c_name = input("삭제하고자 하는 고객의 이름을 입력하시오")
#     for i, customer in enumerate(customer_list):
#          if customer.name == c_name:
#             del(customer_list[i])

#     i=0
#     for customer in customer_list:
#         if(customer.name==c_name):
#             print(i)
#             print(customer.name)
#             del(customer_list[i])
#         i+=1

In [ ]:
#3. 삭제 (동명이인 유)_1
# 3. 삭제 (동명이인 有)
def fn3_delete_customer_2(customer_list):
    name = input('삭제할 이름 ?')
    delete_flag = False # 삭제 여부
    cnt = 0     # 삭제한 행 수
    for customer in customer_list:
        # 삭제할 이름과 같은 이름이 있는지 확인
        if customer.name == name:
            cnt += 1
            customer_list.remove(customer)
            delete_flag = True
    if delete_flag :
        print(name,'님', cnt,'명을 삭제하였습니다')
    else:
        print(name,'님이 데이터에 존재하지 않습니다')

In [22]:
#3. 삭제 (동명이인 유)_2
# 3. 삭제 (동명이인 有)
def fn3_delete_customer_3(customer_list):
    name = input('삭제할 이름은? ')
    delete_flag = False
    delete_idx = []
    for i, customer in enumerate(customer_list):
        # 삭제할 이름과 같은 데이터의 인덱스를 delete_idx에 추가(동명이인 고려)
        if customer.name == name: 
            delete_idx.append(i)
    #끝 idx부터 지워야 동명이인일 경우 제대로 작동
    for i in range(len(delete_idx)-1,-1,-1):
        del customer_list[delete_idx[i]]
        delete_flag = True
    if delete_flag:
        print('\"{}\"님을 삭제하였습니다'.format(name))
    else:
        print('\"{}\"님이 데이터에 존재하지 않습니다'.format(name))

In [218]:
fn3_delete_customer(customer_list)

삭제하고자 하는 고객의 이름을 입력하시오a

In [23]:
#4. 이름찾기
# def fn4_search_customer(customer_list):
#     #찾고자하는 고객이름을 받아 찾는 고객 정보를 출력
#     c_name = input("찾고자 하는 고객의 이름을 입력하시오")
#     for customer in customer_list:
#         if customer.name == c_name:
#             print(customer)

def fn4_search_customer(customer_list):
    # 찾고자하는 고객이름을 받아 찾는 고객 정보를 출력
    name = input('검색할 이름은?')
    search_result = []
    for customer in customer_list:
        if customer.name == name:
            search_result.append(customer)
    if len(search_result)==0:
        print('검색한 고객이 데이터에 존재하지 않습니다')
    else:
        for customer in search_result:
            print(customer)

In [227]:
fn4_search_customer(customer_list)

찾고자 하는 고객의 이름을 입력하시오ㅊ

In [13]:
#5. 내보내기(csv)
def fn5_save_customer_csv(customer_list):
    import csv
    #저장할 파일명을 입력받아 data폴더 밑에 해당 파일명으로 , customer_list를 csv파일을 저장.
    customer_dict_list = []
    for customer in customer_list:
        customer_dict_list.append(customer.as_dic())
    
    fieldnames = ["name","phone","email","age","grade","etc"]
    filename = input('저장할 CSV 파일 이름은 ?')
    try :
        with open('data/'+filename, 'w', newline='', encoding='UTF-8') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader()
            dict_writer.writerows(customer_dict_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [239]:
fn5_save_customer_csv(customer_list)

저장할 CSV 파일 이름은 ?0.csv

In [14]:
#9. 종료(종료하기 전 customer_list를 txt파일에 저장하고 종료)
def fn9_save_customer_txt(customer_list):
    #customer_list의 내용을 data/ch09_customers.txt에 저장
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_list_style()+'\n')
    try:
        with open("data/ch09_customers.txt",'w',encoding='utf-8') as f:
            f.writelines(customer_text_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [15]:
fn9_save_customer_txt(customer_list)

In [17]:
def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("0:시작 | 1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5.내보내기(csv) | 9.종료", end=' ')
        fn = int(input("메뉴선택 : "))
        if fn == 1:
            customer = fn1_insert_customer_info() #입력받은 내용으로 customer객체를 반환
            customer_list.appned(customer)
        elif fn == 2:
            fn2_print_customer(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break

In [18]:
if __name__ == '__main__':
    main()

데이터 로드됨
0:시작 | 1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5.내보내기(csv) | 9.종료 메뉴선택 : 9